<% provide(:title, '従業員一覧') %>
<div class="wrapper">  
   <section class="info">
      <h1>従業員一覧</h1>
      <ul>
         <% @staffs.each do |staff| %>
            <li>
               <%= staff.number %>　
               <%= staff.name %>
               <%= link_to "編集", edit_staff_path(staff), class:"edit" %>
               <%= link_to "削除", staff, {method: :delete, class:"delete",
               data: { confirm: 'この従業員を削除して、本当によろしいですか？'}} %>
            </li>
         <% end %>　 
      <ul>
   </section> 
   <%= paginate @staffs %>
</div>