<% provide(:title, '店長ログイン') %>
<div class="wrapper">  
  <h1>店長ログイン</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.label      :store_name, "店舗名" %>
        <%= f.text_field :store_name, class: 'form-control' %>

        <%= f.label          :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>ログインを記憶する</span>
        <% end %>

        <%= f.submit "ログイン", class: 'btn btn-primary' %>
      <% end %>
      <p>会員登録されていない方はこちらから <%= link_to '新規登録', signup_path %> してください。</p>
    </div>
  </div>   
</div>
