<% provide(:title, 'シフト時間割変更') %>
<div class="wrapper"> 
   <h1>シフト時間割を変更</h1>

   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <%= form_with(method: :patch, url: master_shift_separation_url, scope: :shift_separation, local: true) do |f| %>
            <%= render 'shared/error_messages', object: @shift_separation %>

            <%= f.label :name,"時間帯名" %>
            <%= f.text_field :name, class: 'form-control' %>
         <div class="form-inline text-left">
            <%= f.label :start_time,"業務開始時刻", {class:'control-label'}%>
            <%= f.time_field :start_time, class: 'form-control' %>

            <%= f.label :finish_time,"業務終了時刻", {class:'control-label'}%>
            <%= f.time_field :finish_time, class: 'form-control' %>
         </div>
            <%= f.submit "登録", class: "btn btn-primary" %>
         <% end %>
      </div>
   </div>
</div>        