<div class="row">
      <div class="col text-center">
            <h1><%= @event.fulltime %></h1>
      </div>
</div>    

<div class="row">
      <div class="col text-center">
            <%= form_with(model: @event, url: fill_in_perfect_shift_path(@event), html: {method: :patch},local: false) do |f| %>
                  <% if logged_in? %>
                  <%= f.submit "店長がシフトに入る",   class: "btn btn-primary js-event-create-btn" %>
                  <%# <% else %>
                  <%# <%= f.submit "シフトに入る",   class: "btn btn-primary js-event-create-btn" %> 
                  <% end %>   
            <% end %>
            <% if logged_in? %>
                  <%= form_with(model: @event, url: direct_change_perfect_shift_path(@event), html: {method: :patch},local: false) do |f|%>
                        <%= f.label      :name, "イエローラインを埋めてくれる従業員の氏名", class: "pull-left" %>
                        <%= f.text_field :name, class: 'form-control' %>
                        <%= f.submit "この従業員で確定する",   class: "btn btn-primary js-event-create-btn" %>
                  <% end %>
                  <%= form_with(model: @event, url: individual_shift_path(@event), html: { method: :delete }, local: false) do |f| %>
                        <%= f.submit "消去", class: "btn btn-danger" %>
                  <% end %>
            <% end %>
      </div>
</div>        